
{:id="{{include.param.title | slugify }}" class="chart" alt="{{include.param.title}}" }
&nbsp;

<script>
  new roughViz.Bar(
  {
    element: '#{{include.param.title | slugify }}',
    data: '{{include.param.data}}',
    labels: '{{include.param.labels | default: "labels"}}',
    values: '{{include.param.values | default: "values"}}',
    title: '{{include.param.title}}',
    xLabel: '{{include.param.xlabel}}',
    yLabel: '{{include.param.ylabel}}',
    strokeWidth: 3,
    fillWeight: 1.5,
    height: 320,
    width: 400,
  }
);
</script>