
{:id="{{include.param.title | slugify }}" class="chart" alt="{{include.param.title}}" }
&nbsp;

<script>
  charts['{{ include.param.data }}'] = {
    ...{{ include.param  | jsonify }},
    chart: new roughViz.Donut(
      {
        element: '#{{include.param.title | slugify }}',
        data: {
          labels: [],
          values: []
        },
        title: '{{include.param.title}}',
        xLabel: '{{include.param.xlabel}}',
        yLabel: '{{include.param.ylabel}}',
        strokeWidth: 1,
        fillWeight: 1,
        legend: false,
        height: 300,
        width: 400,
      }
    )
  }


</script>